.single-list-product { 
    display: flex;
    justify-content: space-between;
    margin: 10px;
    .info{
    width: 500px;
    display: flex;
    }
    .action{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
}

.products-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}