body {
  font-family: "Montserrat", Arial, sans-serif; }

button {
  cursor: pointer; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px; }

.main {
  display: flex;
  flex-wrap: wrap; }
  .main .right {
    margin: 10px;
    width: 100%;
    width: 937px; }

.single-list-product {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin: 10px;
  min-height: 70px;
  border-bottom: #e4e1e1 1px solid; }
  .single-list-product .info {
    width: 500px;
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .single-list-product .info a {
      display: flex;
      color: inherit; }
      .single-list-product .info a p {
        margin-left: 10px; }
    .single-list-product .info .labels {
      display: flex; }
  .single-list-product .action {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.product-categories {
  display: flex;
  flex: 8;
  flex-wrap: wrap; }
  .product-categories .form {
    flex: 3;
    margin-right: 20px; }
  .product-categories .categories {
    flex: 5; }

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-bottom: #ece3e3 1px solid; }
