body {
    font-family: "Montserrat", Arial, sans-serif;
}

button {
    cursor: pointer;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;

    .right{
        margin: 10px;
        width: 100%;
        width: 937px;
    }
}
